.daysweeks{
    display: grid;
    grid-template-columns: repeat(7,2rem);
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.dayweek{
    display: flex;
    align-content: center;
    justify-content: center;
}